<%- include('./partials/header.ejs')%>

<main>
    <h1> Intro of He Zhao's Food Trade Web Application </h1>
    <p> This is a web application that facilitates the trade of food. </p>
    <p> The web application is designed to be used by both buyers and sellers. </p>
    <p> You will be able to find the food that you are looking to buy or sell. </p>
    <p> The categories of items are kept up to date on a consistent basis. </p>
    <p> There are only a few categories of products available for now, primarily consisting of meats, fruits, and vegetables. </p>
    <p> Currently, the milestone two stage is implemented successfully </p>
    <p> The milestone three stage will be updated soon.. </p>
    <img src="/images/foodPicAbout.jpg" alt="food picture" width="500" height="600">
</main>

<%- include('./partials/footer.ejs')%>