<%- include('./partials/header.ejs')%>
<main>
    <h1> He Zhao's Contact Page</h1>
    <p> My Email is:
        hzhao10@uncc.edu</p>
    <p> My phone number is:
        646-229-5773</p>
    <p> My address is: 9201 University City Blvd. Charlotte, NC 28223 </p>
</main>
<%- include('./partials/footer.ejs')%>