<%- include('./partials/header.ejs')%>
<main>
    <section class="mainSection">
        <h1 class="myHeader2">Welcome To He Zhao's Food Trade!&nbsp;</h1>
        <p class="para">Hello! I'm He Zhao, an international Computer Science Master student.&nbsp;</p>
        <p class="para">Discover, engage in food-related trades, or share food through this website that I've designed.&nbsp;&nbsp;</p>
        <p class="para">This website allows you to explore a variety of services, some of which include start trading, login, sign up, and contact functions.&nbsp; &nbsp;</p>
    </section>
</main>
<%- include('./partials/footer.ejs')%>



